@import url("./../../scss/_vars.scss");

.search-bar {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.search-input {
  padding: 9px 12px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--background-primary);
  border: none;
  box-shadow: inset 0 -1px 0 var(--text-sub);
  font-weight: bold;
  color: var(--text-primary);
  transition: all 0.3s;
}

.search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: #888;
}
