.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 100vh;
  background-color: var(--background-sub);
  display: flex;
  flex-direction: column;
  padding: 0 16px 12px;
  transition: background-color 0.3s;
}
