.libraryPanel {
  height: 36px;
  font-size: 14px;
  background-color: var(--background-sub);
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  justify-content: space-between;
}

.libraryPanel button {
  border: none;
  background-color: transparent;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 8px;
  span {
    color: var(--text-primary);
    font-size: 14px;
  }
  svg {
    width: 16px;
    height: 16px;
    fill: var(--text-primary);
    margin-right: 12px;
  }
  &:hover {
    background-color: var(--active-color);
  }
}
