@import url("./_reset.scss");
@import url("./_vars.scss");

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Roboto", sans-serif;
}
